#cv-template{
    display:block;
}
body{
    background-color:rgb(222, 235, 241) ;
    animation:alternate-reverse;
}
.form-control {
    border-radius: 10px;
    padding: 10px;
}
.a{
    display: inline;

}
.myimg{
border: 2px solid red;
border-radius: 50%;
width:200px;
height:200px;
}
.backgroundcolour{
    background-color: rgb(153, 203, 244);
}